---
import Link from "@components/ui/link.astro";
import Icon from "astro-icon";
import Tabs from "@components/home/downloadTabs.svelte";
---

<div class="flex flex-col justify-center gap-4 max-w-[70%] mx-auto py-5">
  <div class="text-center py-5 px-3 bg-black/60 shadow-2xl rounded">
    <h2 class="text-slate-200 text-3xl lg:text-5xl font-bold lg:tracking-tight">
      Installer
    </h2>
    <p class="text-lg mt-4 text-slate-300">
      Batch and Bash Installer for Windows and Linux
    </p>
  </div>
  <div class="grid grid-cols-2 gap-4">
    <div>
      <Link
        href="https://url.medicatusb.com/installerwindows"
        style="glow"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        size="xl"
        rel="noopener"
      >
        <Icon class="text-black w-5 h-5" name="round-cloud-download" />
         Windows
      </Link>
    </div>
    <div>
      <Link
        href="https://url.medicatusb.com/installerlinux"
        style="glow"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        size="xl"
        rel="noopener"
      >
        <Icon class="text-black w-5 h-5" name="round-cloud-download" />
         Linux
      </Link>
    </div>
  </div>
</div>

<div class="flex flex-col justify-center gap-4 max-w-[70%] mx-auto py-5">
  <div class="text-center py-5 px-3 bg-black/60 shadow-2xl rounded">
    <h2 class="text-slate-200 text-3xl lg:text-5xl font-bold lg:tracking-tight">
      Downloads
    </h2>
    <p class="text-lg mt-4 text-slate-300">
      Please consider using the mirror/torrent as it saves us costs on hosting.
    </p>
  </div>
  <div class="grid grid-cols-2 gap-4">
    <div>
      <Link
        href="https://github.com/mon5termatt/medicat_installer/raw/main/download/MediCat_USB_v21.12.torrent"
        style="glow"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        size="xl"
        rel="noopener"
      >
        <Icon class="text-black w-5 h-5" name="round-cloud-download" />

         Torrent
      </Link>
    </div>
    <div>
      <Link
        href="magnet:?xt=urn:btih:1D714BDF37890669E98933B724B55D47E7F2D01B"
        style="glow"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        size="xl"
        rel="noopener"
      >
        <Icon class="text-black w-5 h-5" name="round-cloud-download" />

         Magnet
      </Link>
    </div>
  </div>

  <div class="text-center py-5 px-3 bg-black/60 shadow-2xl rounded">
    <h2 class="text-slate-200 text-3xl lg:text-5xl font-bold lg:tracking-tight">
      Alternative Downloads
    </h2>
    <p class="text-lg mt-4 text-slate-300">Direct Downloads and other mirrors.</p>
  </div>
  <Tabs client:visible />
</div>

<div class="flex flex-col justify-center gap-4 max-w-[70%] mx-auto py-5">
  <div class="text-center py-5 px-3 bg-black/60 shadow-2xl rounded">
    <h2 class="text-slate-200 text-3xl lg:text-5xl font-bold lg:tracking-tight">
      Hashes
    </h2>
    <p class="text-lg mt-4 text-slate-300">
    MediCat.USB.v21.12.7z <br>MD5: db50f96a5c7b5ec6dc9ed77ea29fffb0 <br>SHA1: 2cbf5f337849a11084124a79a1b8d7e77eaca7d5  
    </p>
  </div>
 </div>
